.btn {
  text-transform: uppercase;
}

.btn-naked {
  background: none;
  border: none;

  &:focus {
    outline: none;
    background: none;
  }
}

.btn-primary {
  background-color: $green-brand !important;
  &:hover {
    background-color: $green-brand !important;
  }
}
