.horse-overview {
  .card-image {
    height: 25em;
    background-position: center;
    background-size: cover;
  }

  .card-action {
    padding-top: 0;
    padding-bottom: 0;
  }

  .card-content {
    padding-top: 0;
  }
}

.card.status {
  margin-bottom: 0;

  .card-title {
    padding: 1em;
    top: 1em;
    border-bottom: 1px solid #808080;
    a {
      color: teal;
    }
  }

  .card-content {
    padding: 1em;

    hr {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  .card-divider {
    padding: 0;

    form {
      padding: 0 1em;
    }

    .status-media {
      margin-bottom: 0;
    }
  }

  .comments {
    border-top: 1px solid grey;
    background-color: lighten(teal, 65%);
  }

  .comment {
    border-top: 1px solid #808080;

    .input-field {
      margin-top: 0;
      margin-bottom: 0;

      textarea {
        padding-top: 1em;
        margin-bottom: 0;
      }
    }
  }
}
