/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #page-content, .page-content {
        margin-top: 50px;
    }
}

a {
    color: #23c6c8;
}

.image-upload > input
{
    display: none;
}

.border-mint {
    border-bottom:5px solid #1ABC9C;
}

.mint-anchor {
    color: #1ABC9C !important;
}

.widget-img {
    width: 64px;
    height: 64px;
    left: 50%;
}

.bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.btn-facebook {
    background-color: #3B5998 !important;
    border-color: #3B5998 !important;
}

.btn-twitter {
    background-color: #4099FF !important;
    border-color: #4099FF !important;
}
