/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #page-content, .page-content {
        margin-top: 50px;
    }
}

a {
    color: #23c6c8;
}

.image-upload > input
{
    display: none;
}

.border-mint {
    border-bottom:5px solid #1ABC9C;
}

.mint-anchor {
    color: #1ABC9C !important;
}
