#left-sidebar {
  background-color: $secondary-color;
  margin-left: 0.1rem;
  border-right: 1px solid darken($secondary-color, 15%);

  h3 {
    padding: 0.5em;
    padding-right: 0.65em;
    border-bottom: 1px solid darken($secondary-color, 15%);

    a {
      i {
        padding-top: 0.25em;
      }
    }
  }
  ul li {
    border: none;

    a {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}