.pedigree {
  margin-bottom: 0;

  .male {
    background-color: #90caf9;
    border: 1px solid darken(grey, 10%);
    text-align: center;
    padding: 1em;
  }

  .female {
    background-color: #f8bbd0;
    border: 1px solid darken(grey, 10%);
    text-align: center;
    padding: 1em;
  }

  .self {
    background-color: lighten(teal, 10%);
    border: 1px solid darken(teal, 10%);
    text-align: center;
    padding: 1em;

    a {
      color: white;
    }
  }
}
