.pedigree {
  margin-bottom: 0;

  .male {
    background-color: #90caf9;
    border: 1px solid darken($secondary-color, 10%);
    text-align: center;
    padding: 1em;
  }

  .female {
    background-color: #f8bbd0;
    border: 1px solid darken($secondary-color, 10%);
    text-align: center;
    padding: 1em;
  }

  .self {
    background-color: lighten($primary-color, 10%);
    border: 1px solid darken($secondary-color, 10%);
    text-align: center;
    padding: 1em;

    a {
      color: white;
    }
  }
}