.status_form {
  border: 1px solid darken($secondary-color, 10%);
  border-radius: 4px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 0;

  .form-control {
    margin-bottom: 0;
  }

  .button {
    margin: 1em 0 0;
  }
}

.card {
  padding: 0;
  margin-bottom: 0;

  .card-header {
    padding: 1em;
    border-bottom: 1px solid darken($secondary-color, 10%);

    .time {
      color: darken($secondary-color, 10%);
      padding-top: 0.4em;
    }
  }

  .card-section {
    padding: 1em;
  }

  .card-divider {
    padding: 0.5em 1em;
    background-color: lighten($primary-color, 35%);

    p {
      margin-bottom: 0;
    }

    .comments {
      margin-top: 0.8em;
      border-top: 1px solid darken($secondary-color, 10%);

      h5.media-heading {
        margin-right: 0.6em;
      }

      p {
        padding-top: 0.3em;
      }
    }
  }
}
