.user-left-sidebar {
  h4 {
    font-style: italic;
    font-weight: 200;
    padding-left: 1em;
  }

  .collection {
    border-bottom: none;
    border-right: none;

    .collection-item {
      border: none;
      padding-top: 1em;
      padding-bottom: 0.8em;

      &:hover {
        background-color: #bdbdbd !important;
      }
    }
  }
}